* {
	font-family: 'Merriweather', serif;
	font-weight: @fweight-1;
	font-size: @fsize-4;
}

html {
	margin: 0; padding: 0;
}

body {
	margin: 0; padding: 0;
	overflow-y: scroll;
}

.header {
	height: calc(~"50vh + "@header-height / 2);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: end;

	.logo {
		position: relative;
		display: inline-block;
		width: 320px; height: 400px;
		flex: 0 0 auto;
		align-self: flex-end;

		.logo-mask {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			overflow: hidden;
		}

		svg {
			background: @primary;
		}

		circle {
			fill: white;
		}
	}

	.title {
		display: inline-block;
		width: 320px - @gutter;
		padding: 0 0 0 @gutter;
		flex: 0 0 auto;
		align-self: flex-end;

		& > * {
			opacity: 0;
		}

		h1 {
			margin: 0; padding: 0;
			font-size: @fsize-1;
			line-height: 40px;
			font-weight: @fweight-2;
		}

		h2 {
			margin: 0; padding: 0;
			font-size: @fsize-2;
			line-height: 40px;
		}

		.nav {
			ul {
				list-style: none;
				margin: 30px 0 0 0; padding: 0;
				font-size: 0;

				li {
					display: inline-block;
					line-height: @gutter + 1px;

					a {
						display: inline-block;
						line-height: @gutter + 1px;
						padding: 0 15px; margin: 0 1px 0 0;

						font-size: @fsize-4;
						font-weight: bold;
						text-decoration: none;
						color: white;

						background: @primary;
						transition: all linear @anim-duration;

						&.active, &:hover {
							background: @secondary;
						}
					}
				}
			}
		}
	}
}

.content {
	width: @content-width;
	margin: 0 auto calc(~"50vh - "@header-height / 2) auto;

	.content-item {
		position: relative;
		margin: @gutter 0;
		display: flex;
		flex-direction: row-reverse;

		.content-item-part {
			width: 50%;
		}

		&:before {
			content: '';
			position: absolute;
			top: -20px; left: 40%; right: 40%;
			height: 1px;

			background: @stroke;
		}

		&:first-child:before {
			display: none;
		}

		h1.content-item-head {
			margin: 0; padding: 0 0 0 @gutter;
			font-size: @fsize-2;
			line-height: 40px;
			font-weight: @fweight-2;
		}

		h2.content-item-head {
			margin: 0; padding: 0 0 16px @gutter;
			font-size: @fsize-3;
			line-height: 20px;
		}

		.content-item-body {
			p {
				margin: 0; padding: 0 0 0 @gutter;
				line-height: 22px;

				strong {
					position: relative;
					display: inline-block;
					font-weight: @fweight-2;
					margin-right: 10px;

					&:before {
						content: '';
						position: absolute;
						z-index: -1;
						bottom: 8px; right: -9px;
						width: 5px; height: 5px;
						
						border-radius: 100%;
						background: @secondary;
					}
				}

				a {
					color: @secondary;
					text-decoration: none;
					border-bottom: solid 1px transparent;
					transition: all linear @anim-duration;

					&:hover, &:focus {
						border-bottom: solid 2px @primary;
					}
				}
			}

			hr {
				background: none;
				border: none;
				margin: 14px 0 0 0; padding: 0;
			}
		}

		.content-item-tail {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;

			counter-reset: my-counter;

			@tail-box-size: 98px;
			@tail-closeness-1-lenght: 49px;
			@tail-closeness-2-lenght: 47px;
			@tail-closeness-3-lenght: 10px;

			.tail-item {
				position: relative;
				display: inline-block;
				width: @tail-box-size; height: @tail-box-size;
				margin: 0 0 5px 5px;
				outline : none;
				border: solid 1px @stroke;
			}

			a.tail-item {
				position: relative;
				background: @secondary;

				img {
					position: absolute;
					display: block;
					top: 0px; left: 0;
					width: 100%; height: 100%;
				}

				&:before {
					counter-increment: my-counter;
				    content: '';

				    display: block;
					position: absolute;
				    top: 0; left: 0; right: 0; bottom: 0;
				    line-height: @tail-box-size;
				    text-align: center;
				    color: white;
				    font-size: @fsize-2;
				    font-weight: bold;
				}

				&:not(:first-child):before {
				    content: counter(my-counter);
				}

				&:after {
					content: '';
					position: absolute;
					border-style: solid;
					border-color: transparent;
					top: 0; left: 0;
					transition: all ease-in-out 250ms;
					border-width: @tail-closeness-1-lenght @tail-closeness-2-lenght;
					border-left-color: darken(@secondary, 5%);
				}

				span {
					position: absolute;
					top: 0; left: 0; right: 0; bottom: 0;

					&:before, &:after {
						content: '';
						position: absolute;
						border-style: solid;
						border-color: transparent;
						bottom: 0; right: 0;
						transition: all ease-in-out 250ms;
					}

					&:before {
						border-width: @tail-closeness-2-lenght @tail-closeness-1-lenght;
						border-bottom-color: darken(@secondary, 7%);
					}

					&:after {
						border-width: @tail-closeness-1-lenght @tail-closeness-2-lenght;
						border-right-color: darken(@secondary, 9%);
					}
				}

				&:hover {
					&:after {
						border-width: @tail-closeness-1-lenght @tail-closeness-3-lenght;
						border-left-color: darken(@secondary, 15%);
					}

					span {
						&:before {
							border-width: @tail-closeness-3-lenght @tail-closeness-1-lenght;
							border-bottom-color: darken(@secondary, 15%);
						}

						&:after {
							border-width: @tail-closeness-1-lenght @tail-closeness-3-lenght;
							border-right-color: darken(@secondary, 15%);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	.container {
		width: 100%;
		margin: 0 auto;
	}

	.header {
		height: auto;
		padding-top: @gutter;
	}

	.content {
		width: auto;
		padding: 0;
		margin-bottom: @gutter;
	}
}

@media screen and (max-width: 700px) {
	.container {
		width: auto;
		padding: 0;
	}

	.header {
		height: auto;
		display: block;
		padding-top: 0;
		border-top: solid 5px @secondary;

		.logo {
			position: relative;
			display: inline-block;
			width: 100%; height: 78px;
			margin-bottom: @gutter;
			text-align: center;

			overflow: hidden;
			background: @primary;

			.logo-mask:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				width: 100%; height: 1px;
				background: #3f3f3f;
			}

			svg {
				position: relative;
				z-index: 1;
			}
		}

		.title {
			display: block;
			width: auto; height: auto;
			padding: 0 @gutter;
		}
	}
	
	.content {
		width: auto;
		padding: 0 @gutter;

		.content-item {
			flex-direction: column;

			&:before {
				left: 0%; right: 0%;
			}

			.content-item-part {
				width: 100%;
			}

			h1.content-item-head { padding-left: 0; }
			h2.content-item-head { padding-left: 0; }
			.content-item-body p { padding-left: 0; }

			.content-item-tail {
				position: relative;
				justify-content: left;
				padding-top: 16px;

				&:before {
					content: '';
					position: absolute;
					top: 16px; left: -@gutter;
					width: @gutter; bottom: -5px;
					background: #efefed;
				}

				.tail-item {
					margin: 5px 5px 0 0;
					box-shadow: 0 0 0 5px #efefed;
				}
			}
		}
	}
}