// color definition
@primary: #e05f20;
@primary: #bf2444;
@primary: #bcef6c;

@primary: #414141;
@primary-hover: darken(@primary, 15%);
@secondary: #29BA9B;
@stroke: #e8e8e8;

@fsize-1: 28px;
@fsize-2: 24px;
@fsize-3: 20px;
@fsize-4: 16px;

@fweight-1: 400;
@fweight-2: 700;

@anim-duration: 100ms;

@header-height: 402px;
@gutter: 40px;
@content-width: 1050px;

@import 'less/_normalize';
@import 'less/_mpf';
@import 'less/_main';